<h1>Create character</h1>
<form method="POST" action="/characters/create">
    <label>Name:<input type="text" name="name" required /></label>
    <label>Occupation:<input type="text" name="occupation" required /></label>
    <label>Weapon: <input type="text" name="weapon" required /></label>
    <label>Debt: <input type="checkbox" name="debt" required /></label>
    <button>Create</button>
</form>